{% extends 'core/base-dashboard.html' %}

{% block content %}
&nbsp;<br>
<h2>Projects&nbsp;<span><a href="{% url 'mod_project_dash_page' 'add' 0 %}" class="btn btn-success" >Add New Project</a></span></h2>
<hr>
{% if successDash %}
    <div class="alert alert-success" role="alert">{{ successDash }}</div>
{% endif %}
{% if projects %}
<table cellpadding="10" border="1px solid" >
    <thead>
        <th>Project ID</th>
        <th>Project Title</th>
        <th>Project Image</th>
        <th>Category</th>
        <th>Project Link</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr><td>{{ project.id }}</td>
            <td>{{ project.title }}</td>
            <td ><img src="{{ media_url }}{{ project.images }}" width="50px" /></td >
            <td>{{ project.category }}</td>
            <td><a href="{{ project.link }}">View</a></td>
            <td>
                <span class="fa fa-trash btn btn-danger" title="Delete Project" onclick="return(confirmDel('{% url 'delete_item_dash_page' 'project' project.id %}'))"></span>
                <a href="{% url 'mod_project_dash_page' 'edit' project.id %}" title="Edit Project">
                    <span class="fa fa-pencil btn btn-warning"></span>
                </a> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <span>No Project found. Add a project soon.</span>
{% endif %}

<script type="text/javascript" >
function confirmDel(link){
    confirmd = confirm('Are you sure you want to delete?');
    if(confirmd){
        window.location.href = link;
    }
}
</script>

{% endblock content %}