{% extends 'core/base-dashboard.html' %}

{% block content %}
&nbsp;<br>
<h2>Feedbacks</h2>
<hr>
{% if successDash %}
    <div class="alert alert-success" role="alert">{{ successDash }}</div>
{% endif %}
{% if feedbacks %}
<table cellpadding="10" border="1px solid" >
    <thead>
        <th>Feedback ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
        <th>City</th>
        <th>Message</th>
        <th>Date</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for feedback in feedbacks %}
        <tr><td>{{ feedback.id }}</td>
            <td>{{ feedback.name }}</td>
            <td>{{ feedback.email }}</td>
            <td>{{ feedback.phone_number }}</td>
            {% if feedback.website is not None %}
            <td><a href="{{ feedback.website }}">View</a></td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% if feedback.city is not None %}
            <td>{{ feedback.city }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            <td>{{ feedback.message }}</td>
            <td>{{ feedback.date }}, {{ feedback.time }}</td>
            <td>
                <span class="fa fa-trash btn btn-danger" onclick="return(confirmDel('{% url 'delete_item_dash_page' 'feedback' feedback.id %}'))"></span> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <span>No Feedback found. Check again later.</span>
{% endif %}

<script type="text/javascript" >
function confirmDel(link){
    confirmd = confirm('Are you sure you want to delete?');
    if(confirmd){
        window.location.href = link;
    }
}
</script>

{% endblock content %}