<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ blog_info.BLOG_NAME }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ static_url }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ static_url }}css/blog-home.css" rel="stylesheet">

</head>

<body>

  {% include "includes/blog/header.html" %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">{{ blog_info.BLOG_NAME }}
          <small>{{ blog_info.BLOG_DESCRIPTION }}</small>
        </h1>

        {% for post in blog_content %}
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ media_url }}{{ post.featured_image }}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.excerpt }}</p>
            <a href="./post/{{ post.id }}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            {{ post.date }} at {{ post.time }} by
            <a href="./author/{{ post.author.id }}">{{ post.author.username }}</a>
            <span style="background-color: #ddd; padding: 1.5%; border-radius: 20px;" title="Category">{{ post.category }}</span>
          </div>
        </div>
      
        {% endfor %}

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
          {% include "includes/blog/sidebar.html" %}
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include "includes/blog/footer.html" %}


  <!-- Bootstrap core JavaScript -->
  <script src="{{ static_url }}vendor/jquery/jquery.min.js"></script>
  <script src="{{ static_url }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
