<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ post.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ static_url }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ static_url }}css/blog-post.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
    {% include "includes/core/header.html" %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="{% url 'blog_home' %}author/{{ post.author.id }}">{{ post.author.username }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ post.date }} at {{ post.time }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ media_url }}{{ post.featured_image }}" alt="">

        <hr>
        <!-- Post Excerpt -->
        <p class="lead">{{ post.excerpt }}</p>
        <hr>
        <!-- Post Content -->
        <p class="lead">{{ post.content }}</p>

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        {% for comment in comments %}
        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0"><strong>{{ comment.name }}</strong></h5>
            {{ comment.comment }}
          </div>
        </div>
        {% endfor %}

    </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
         {% include "includes/blog/sidebar.html" %}
        
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include "includes/core/footer.html" %}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ static_url }}vendor/jquery/jquery.min.js"></script>
  <script src="{{ static_url }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
