<!-- Contact Page -->
<link href="{{ static_url }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="{{ static_url }}/css/contact-form-main.css" type="text/css" />
<script src="{{ static_url }}vendor/jquery/jquery.min.js"></script>
<script src="{{ static_url }}vendor/bootstrap/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    {% include 'includes/core/header.html' %}
    <div id="blank">&nbsp;<br>&nbsp;<br></div>

  <!-- Contact Us Section -->
    <section class="Material-contact-section section-padding section-dark">
      <div class="container">
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                  <h1 class="section-title">Get in Touch</h1>
              </div>
          </div>
          <div class="row">
              <!-- Section Titile -->
              <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>Hi there. This is some description or example text. Replace it before using it on a live website.</p>

                <div class="find-widget">
                 Company:  <a href="https://example.com">The Awesome Inc.</a>
                </div>
                <div class="find-widget">
                 Address: <a href="#">#123, Sec. 1, Green City, India</a>
                </div>
                <div class="find-widget">
                  Phone:  <a href="#">+ 123-456-7890</a>
                </div>
                
                <div class="find-widget">
                  Website:  <a href="{{ home_page }}">www.mywebsite.com</a>
                </div>
                <div class="find-widget">
                   Program: <a href="#">Mon to Fri: 10:00 AM - 7:00 PM</a>
                </div>
              </div>
              <!-- contact form -->
              <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                  <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                      <!-- Name -->
                      {% csrf_token %}
                      <div class="form-group label-floating">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- email -->
                      <div class="form-group label-floating">
                        <label class="control-label" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Subject -->
                      <div class="form-group label-floating">
                        <label class="control-label">Subject</label>
                        <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                        <div class="help-block with-errors"></div>
                      </div>
                      <!-- Message -->
                      <div class="form-group label-floating">
                          <label for="message" class="control-label">Message</label>
                          <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                          <div class="help-block with-errors"></div>
                      </div>
                      <!-- Form Submit -->
                      <div class="form-submit mt-5">
                          <button class="btn btn-primary" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                          <div id="msgSubmit" class="h3 text-center hidden"></div>
                          <div class="clearfix"></div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </section>